* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;

}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar {

    display: flex;
    top: 0;
    position: sticky;
}

#back_Imag {
    width: 400px;
    /* height:400px; */
    /* object-fit: cover; */
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

/* .home-img{
    display: block;
    margin: 0 auto;
    margin-top: 100px; 
    width: 850px;
    transform: rotate(45deg);
    overflow: hidden;
}
.home-img img{
    max-width: 100%;
    width: 400px;
    transform: rotate(-45deg) scale(1.42);
} */

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;

}

.home-content p {
    font-size: 1.8rem;
    margin-right: 60px;
}

.btn {
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: #0ef 0px 3px 8px;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    background-color: #171e28;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.home-image img {
    width: 350px;
    /* border-radius: 30%; */
}

.heading {
    text-align: center;
    font-size: 4.5rem;

}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;

}

.about-content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}

#head {
    color: #0ef;
    font-size: 22px;
    text-align: center;
    margin: 20px 0px;
}

#ski {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 50px;
    width: 90%;
    margin: auto;
}

#ski img {
    display: block;
    margin: auto;
    width: 80px;
}

#ski p {
    font-size: 15px;
    text-align: center;
    margin: 10px 0px;
}

#ski>div {
    border-radius: 20px;
    width: 200px;
    padding: 20px 0px;
    background-color: rgb(17, 17, 53);
    align-items: center;
    align-content: center;
    align-self: center;
    box-shadow: rgba(70, 164, 187, 0.67) 0px 7px 29px 0px;
}

#ski>div:hover {
    border-radius: 30px;
    box-shadow: rgba(52, 133, 220, 1) 0px 5px 15px;
}

#projects {
    background-color: #171e28;

}

#pro {
    cursor: pointer;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* column-gap: 40px;
    row-gap: 40px; */
    gap: 30px;

}

#pro>div {
    /* width: 100%; */
    background-color: rgb(17, 17, 53);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(70, 164, 187, 0.67) 0px 7px 29px 0px;
}

#pro>div:hover {
    border-radius: 30px;
    box-shadow: rgba(52, 133, 220, 1) 0px 5px 15px;
}

#pro>div>img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.top {
    font-size: 18px;
}

#pro>div>div {
    align-items: center;
    width: 300px;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}

#pro>div>div>img {

    /* width: 20px; */
    height: 30px;
}

#pro h2 {
    margin: 9px 0px;
    font-size: 25px;
}

.data {
    margin-bottom: 9px;
    font-size: 20px;
}

#pro p {
    font-size: 16px;
    margin-bottom: 15px;
}

.calendar {
    width: 90%;
    margin: auto;
    object-fit: cover;

}

.stat-main {

    width: 80%;
    margin: auto;
}

#contact {
    background-color: #171e28;

}

#contact a {
    color: white;
    text-decoration: none;
}

#contact p {
    /* text-align: center; */
    justify-content: center;
    font-size: 20px;
    margin: 19px 0px;
}

/* #contact input{
    border: none;
    background-color: #ffffff9f;
    width: 500px;
    margin-bottom: 20px;
    padding: 20px 20px;
    display: block;
    
    border-radius: 10px;
    font-size: 18px;

}
#contact button{
    border: none;
    font-size: 20px;
    display: block;
    margin: auto;
    padding: 10px 20px;
    width: 100px;
    background-color: #0ef;
    cursor: pointer;
    box-shadow: #0ef 0px 3px 8px;  
    border-radius: 10px;
}
#contact button:hover{
    box-shadow: none;
    transition:ease-in-out;
} */
#contact i {
    font-size: 30px;
    /* margin-top: 15px; */
    margin-right: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

@media screen and (max-width:1200px) {
    #ski {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width:1060px) {
    #contact>div {
        flex-direction: column;
    }

    #contact input {
        margin: auto;
        margin-bottom: 20px;
    }

    #social {
        /* border: 1px solid red; */
        width: 50%;
        margin: auto;
    }
}

@media screen and (max-width:1124px) {
    .calendar {
        display: none;
    }
}

@media screen and (max-width:950px) {
    #pro {
        grid-template-columns: repeat(1, 1fr);
    }

    #ski>div {
        width: 150px;

    }

}

@media screen and (max-width:840px) {
    #about {
        flex-direction: column;
    }

    #home {
        flex-direction: column;
    }

    #home img {
        margin-top: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:730px) {
    #ski>div {
        width: 100px;
        /* height: 100px; */

    }
}

@media screen and (max-width:630px) {
    #contact input {

        margin-bottom: 20px;
        width: 70%;
        /* margin: auto; */
    }

    #social {
        width: 100%;
        /* font-size: 10px; */
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 20px;
    }
}

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width:868px) {
    #menu-icon {
        display: block;

    }

    .home-image img {
        width: 250px;
    }

    #pro>div>div {
        width: 100%;

    }

    #contact input {
        height: 40px;
        font-size: 15px;
    }

    #ski>div {
        width: 100%;
    }

    #ski>div img {
        width: 50px;
    }

    .s {
        width: 100%;
        margin: auto;
    }

    #social {
        width: 220px;
        /* border: 1px solid red; */
    }

    #social i {
        font-size: 15px;
    }

    #social p {
        font-size: 15px;
    }

    #back_Imag {
        width: 200px;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}